<div>
    <h1>You matched with <%=match.name%> </h1>
    <div id="picture">
        <img src="<%= match.photo %>" style="width:500px;height:400px;">
    </div>
    <div id="profiletext">
        <p>name: <%= match.name %></p>
        <p>age: <%= match.age %></p>
        <p>gender: <%= match.gender %></p>
    </div>
    <a href="/swipe"><button>Keep Swiping!</button></a>
</div>